/* this is the beautiful CSS styling of the Spatializurrr companion app */

html, body {
	min-height: 100%;
	background: #fff;
	color: #000;
}

/*titel */


/*header */
h1 {
}

/*labels */
p {
}

/*button */

